{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8.9.0"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}