{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8.9.0"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "es5": {
      "presets": [
        ["@babel/preset-env", {
          "useBuiltIns": false, 
        }]
      ],
      "plugins": [
        "@babel/plugin-transform-async-to-generator",
        "@babel/plugin-transform-runtime",
      ]
    }
  }
}
