{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "9.80"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from"
  ]
}