node_modules
npm-debug.log
dist
coverage
reports
.rpt2_cache
.idea
.DS_Store
yarn-error.log
.env
.npmrc
.turbo
tmp
.nx
*.tgz

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
